name: C/C++ CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: apt-get install
      run: sudo apt-get install autopoint gettext libusb-1.0-0-dev libcurl4-openssl-dev
    - name: autoreconf
      run: autoreconf -i -f
    - name: configure
      run: ./configure
    - name: make
      run: make
    - name: make check
      run: make check
    - name: make distcheck
      run: make distcheck
